.type_container {
  padding-top: 4rem;
}

.type_subtitle {
  text-align: center;
  font-family: "Staatliches", cursive;
  font-size: 2.5rem;
}

.type_title {
  text-align: center;
  font-family: "Staatliches", cursive;
  font-size: 3rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
}

.type_title > span {
  color: rgb(0, 194, 228);
  font-style: italic;
  padding-right: 1rem;
}
