@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

#header {
  height: 85vh;
  display: flex;
}

.company_name {
  font-family: "Staatliches", cursive;
  position: absolute;
  margin-left: calc(25vw - 10rem);
  font-size: 5rem;
  color: rgb(0, 0, 0);
  padding: 1rem;
}

.logo {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  right: 0;
  margin-right: 4rem;
  margin-top: 1rem;
}

.company_name span {
  color: rgb(255, 255, 255);
}

.left_col {
  background-image: radial-gradient(
    circle,
    #00ccff,
    #07bbf0,
    #10a9e0,
    #1699d0,
    #1b88bf,
    #3674a9,
    #406292,
    #43507a,
    #423957,
    #342636,
    #20161c,
    #000000
  );

  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 25px black;
}

.bg_name {
  text-align: center;
  color: #00000080;
  font-size: 3.5rem;
  width: 100%;
  white-space: nowrap;
  position: absolute;
  display: flex;
  flex-direction: column;
  transform: rotate(270deg);
}

.bg_name_active {
  animation: fadein 2.5s;
}

@keyframes fadein {
  0% {
    color: #00000080;
  }
  50% {
    color: #000000;
  }
  100% {
    color: #00000080;
  }
}

.right_col {
  flex: 3;
}

.info_row {
  display: flex;
  flex-direction: row;
  width: 75%;
  left: calc(25vw - 0px);
  position: absolute;
  top: calc(85vh - 5rem);
}

.info {
  background: rgba(5, 22, 29, 0.747);
  color: white;
  height: 9rem;
  border: 1px solid black;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.info h1 {
  color: rgb(0, 195, 255);
}

@media only screen and (max-width: 1920px) {
  .bg_name {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 1280px) {
  .bg_name {
    font-size: 2rem;
  }

  .company_name {
    font-size: 3rem;
    margin-left: calc(25vw - 6rem);
  }
}

@media only screen and (max-width: 1024px) {
  .left_col {
    display: none;
  }
  .info_row {
    width: 100%;
    left: 0;
    text-align: center;
  }
  .info {
    padding: 0.5rem;
  }
}

@media only screen and (max-width: 450px) {
  .logo {
    height: 5rem;
    width: 5rem;
  }
  .info_row {
    display: none;
  }
}
