.step_container {
  margin-bottom: 1rem;
  margin-top: 4rem;
}

.step_title {
  text-align: center;
  font-family: "Staatliches", cursive;
  font-size: 4rem;
}

.step_title > span {
  color: rgb(0, 194, 228);
  font-style: italic;
  padding-right: 1rem;
}
.step_subtitle {
  margin-top: 1rem;
  font-size: 2.5rem;
  text-align: center;
  font-family: "Staatliches", cursive;
  padding-bottom: 4rem;
  /* border-bottom: 2px dotted black; */
}

.wrapper {
  box-shadow: 0px 0px 15px black;
  display: flex;
  flex-wrap: wrap;
}

.step > .step_text > p {
  display: none;
}

.step,
.step_active {
  flex: 1;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  height: 45vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.step_active {
  flex: 1.5;
  animation: expand 1.25s;
}

@keyframes expand {
  0% {
    flex: 1;
  }
  100% {
    flex: 2;
  }
}

.step_text {
  text-align: center;
  padding: 1rem;
  width: 85%;
  font-family: "Staatliches", cursive;
  color: rgb(0, 0, 0);
  backdrop-filter: blur(8px);
  box-shadow: 0px 0px 20px black;
  border-radius: 10px;
}

.step_text > h1 {
  padding: 2rem 0;
  font-size: x-large;
  white-space: nowrap;
}
.step_text > p {
  padding-bottom: 2rem;
  font-size: larger;
  width: 60%;
  margin-left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 1024px) {
  .step_title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  .wrapper {
    flex-direction: column;
    box-shadow: none;
  }

  .step,
  .step_active {
    margin-top: 1rem;
  }

  .step_text {
    height: 25vh;
    margin: 2rem 0;
    width: 60%;
  }

  .step > .step_text > p {
    display: inline-block;
  }
}

@media only screen and (max-width: 450px) {
  .step_text {
    width: 95%;
    font-size: medium;
    padding: 0;
  }
  .step_text > p {
    width: 80%;
  }
  .step_subtitle {
    font-size: 1.75rem;
  }
  .step_title {
    border-bottom: 2px solid rgb(0, 194, 228);
  }
}
