.navbar_container {
  width: 100%;
}

.navbar {
  display: flex;
  height: 4rem;
  background-image: linear-gradient(
    to right top,
    #ffffff,
    #f6f6f9,
    #ebedf3,
    #dfe4ee,
    #d3dce8,
    #cbd6e2,
    #c2cfdc,
    #bac9d6,
    #b5c3ce,
    #b0bcc6,
    #abb6bf,
    #a6b0b7
  );
}

.nav_items {
  text-align: center;
  margin-top: 1rem;
  flex: 3;
  list-style: none;
  font-weight: 600;
}

.nav_item,
.nav_item_active {
  display: inline-block;
  color: rgb(0, 0, 0);
  margin-right: 2.5rem;
  padding: 5px;
  text-decoration: none;
  z-index: 2;
}

.nav_item_active {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.452);
  animation: fade 1.2s;
}

@keyframes fade {
  0% {
    background-color: transparent;
  }

  100% {
    background-color: rgb(255, 255, 255);
  }
}

.drop_down {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  animation: fade 1.2s;
  border-radius: 0 0 10px 10px;

  width: inherit;
  padding-right: 10px;
  box-shadow: 0px 15px 10px black;
}

.drop_down > a {
  color: black;
  margin: 0.5rem 0;
  text-decoration: none;
  margin-left: 5px;
}
