.navbar_container {
  width: 100%;
}

.navbar {
  display: flex;
  height: 4rem;
  background-image: linear-gradient(
    to right top,
    #ffffff,
    #f6f6f9,
    #ebedf3,
    #dfe4ee,
    #d3dce8,
    #cbd6e2,
    #c2cfdc,
    #bac9d6,
    #b5c3ce,
    #b0bcc6,
    #abb6bf,
    #a6b0b7
  );
}

.nav_items {
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 1.5rem;
  flex: 3;
  list-style: none;
}

.nav_item {
  display: inline-block;
  margin-right: 2.5rem;
}
