.footer_container {
  background-image: linear-gradient(
    to right top,
    #101112,
    #101214,
    #111416,
    #121518,
    #12161a,
    #11171c,
    #11171d,
    #10181f,
    #0e1921,
    #0c1924,
    #081a26,
    #051b29
  );
  height: 13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 5px black;
  position: relative;
}

.directory {
  margin-top: 3.5rem;
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

.directory > a {
  color: rgba(245, 222, 179, 0.555);
  font-size: large;
  text-decoration: none;
}

.directory > a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer_logo {
  position: absolute;
  margin-left: 25px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.footer_logo > img {
  height: 8rem;
  opacity: 0.6;
  border-radius: 50%;
}

.footer_cpr {
  margin-bottom: 10px;
  color: aliceblue;
}

.footer_socials {
  display: flex;
  width: 50%;
  font-size: x-large;
  justify-content: center;
}

.footer_socials > a {
  margin: 0 2rem 0 2rem;
  color: rgba(245, 222, 179, 0.719);
}

.scroll_up {
  position: absolute;
  right: 0;
  margin-right: 10px;
  font-size: 4rem;
  color: wheat;
  cursor: pointer;
}
