.card_container {
  height: 45vh;
  width: 100%;
  margin: 1.75rem 0;
  box-shadow: 0px 0px 15px black;
  border-radius: 15px;
}

.background_img {
  width: inherit;
  height: inherit;
  z-index: -1;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.card_wrapper {
  width: 100%;
  height: inherit;
  display: flex;
  margin-left: 50%;
  transform: translateX(-50%);
  align-items: center;
  font-family: "Staatliches", cursive;
}

.left_col {
  flex: 1;
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);

  font-size: xx-large;
}

.left_wrapper {
  width: 50%;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.342);
}

.discover_btn {
  display: inline-block;
  font-size: large;
  margin-top: 3rem;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.829);
  color: rgb(255, 255, 255);
  border: 2px solid whitesmoke;
  border-radius: 20px;
}

.discover_btn:hover {
  cursor: pointer;
}

.right_col {
  flex: 1;
  color: rgb(255, 255, 255);
  backdrop-filter: blur(4px);
  padding: 1rem 0 1rem 0;
}

.reason_container {
  font-size: xx-large;
}

.reason {
  list-style: none;
  border-left: 1px solid rgb(255, 255, 255);
  margin-top: 5px;
  padding-left: 1rem;
}
